body {
    height: 100vh;
    margin: 0;
    background-color: rgb(231, 233, 233);
}

.container-1 {
    display: grid;
    grid-template: repeat(2,1fr) /  repeat(2,1fr);
    background-color: brown;
    height: 500px;
    width: 800px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-bottom: 50px;
}

.item-one {
    background-color: bisque;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    margin: 5px;
    display: grid;
    justify-items: center;
    align-items: center;
    font-size: 75px;
}

.item-two {
    background-color: olivedrab ;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin: 5px;
    display: grid;
    justify-items: center;
    align-items: center;
    font-size: 75px;
}

.item-three {
    background-color: skyblue ;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin: 5px;
    display: grid;
    justify-items: center;
    align-items: center;
    font-size: 75px;
}

.container-2 {
    display: grid;
    grid-template: repeat(2,1fr) /  repeat(2,1fr);
    background-color: brown;
    height: 500px;
    width: 800px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-bottom: 50px;
}

.item-uno {
    background-color: bisque;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin: 5px;
    display: grid;
    justify-items: center;
    align-items: center;
    font-size: 75px;
}

.item-dos {
    background-color: olivedrab;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin: 5px;
    display: grid;
    justify-items: center;
    align-items: center;
    font-size: 75px;
}

.item-tres {
    background-color: skyblue ;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    margin: 5px;
    display: grid;
    justify-items: center;
    align-items: center;
    font-size: 75px;
}